@font-face {
    font-family: 'Gabrito';
    src: url('/src/assets/Gabarito/static/Gabarito-ExtraBold.ttf');
}

@font-face {
    font-family: 'Gab-light';
    src: url("/src/assets/Gabarito/static/Gabarito-Regular.ttf");
}

::-webkit-file-upload-button {
    display: none;
}

::file-selector-button {
    display: none;
}

.line {
    border-bottom: 1px solid rgb(220, 220, 220);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: .4rem;
}

.line h2 {
    padding: 0 0 0 128px;
    color: #424242;
    margin-bottom: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: start;
}

.parent {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    width: 100%;
    height: 100vh;
    padding-top: 3.5vh;
    font-family: 'Gabrito', sans-serif;
}

label {
    font-family: 'Gab-light';
    font-size: 14px;
    color: #838383;
}

.eduCards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 4rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    width: 90%;
    border-radius: 10px;
    align-items: center;
}

.line:nth-child(1) {

    display: flex;
    justify-content: center;
    padding: 10px 0 20px 128px;
}

.exp-para {
    font-size: 14px;
    color: #696969;
    font-family: 'Gab-light';
    margin: 0;
    padding: 0 0 0 128px;

}
